[submodule "subprojects/wlroots"]
	path = subprojects/wlroots
	url = https://github.com/pocketforge-os/wlroots.git
[submodule "subprojects/libliftoff"]
	path = subprojects/libliftoff
	url = https://github.com/pocketforge-os/libliftoff.git
[submodule "subprojects/vkroots"]
	path = subprojects/vkroots
	url = https://github.com/pocketforge-os/vkroots.git
[submodule "subprojects/libdisplay-info"]
	path = subprojects/libdisplay-info
	url = https://github.com/pocketforge-os/libdisplay-info.git
[submodule "subprojects/openvr"]
	path = subprojects/openvr
	url = https://github.com/pocketforge-os/openvr.git
[submodule "src/reshade"]
	path = src/reshade
	url = https://github.com/pocketforge-os/reshade.git
[submodule "thirdparty/SPIRV-Headers"]
	path = thirdparty/SPIRV-Headers
	url = https://github.com/pocketforge-os/SPIRV-Headers.git
